Repository evelynmitchell/TinyTimeMixers, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests

correct test
  tests/test_tinytimemixers.py
Labels: tests

add pdfs to gitignore
  .gitignore
Labels: none

Implement TinyTimeMixers Phase 1: Core Architecture
  .pre-commit-config.yaml
  Summary/summary20251224.1.md
  docs/design/ADR-001-implementation.md
  notebooks/TTM_GPU_Demo.ipynb
  pyproject.toml
  setup_codespace.sh
  tests/__init__.py
  tests/performance/__init__.py
  tests/test_tinytimemixers.py
  tests/unit/__init__.py
  tests/unit/test_ttm.py
  tinytimemixers/__init__.py
  tinytimemixers/config.py
  tinytimemixers/layers/__init__.py
  tinytimemixers/layers/mixer_mlp.py
  tinytimemixers/layers/normalization.py
  tinytimemixers/layers/patch_embedding.py
  tinytimemixers/layers/patch_partition.py
  tinytimemixers/layers/resolution_prefix.py
  tinytimemixers/layers/tsmixer_block.py
  tinytimemixers/models/__init__.py
  tinytimemixers/models/backbone.py
  tinytimemixers/models/decoder.py
  tinytimemixers/models/forecast_head.py
  tinytimemixers/models/ttm.py
  tinytimemixers/tinytimemixers.py
  tinytimemixers/utils/__init__.py
  tinytimemixers/utils/device.py
  uv.lock
Labels: documentation, tests

Implement TinyTimeMixers Phase 2: Data Pipeline
  Summary/summary20251224.1.md
  tinytimemixers/data/__init__.py
  tinytimemixers/data/augmentation.py
  tinytimemixers/data/dataset.py
  tinytimemixers/data/monash_loader.py
  tinytimemixers/data/preprocessing.py
Labels: none

Auto-format Python code
  tinytimemixers/data/augmentation.py
  tinytimemixers/data/dataset.py
Labels: none

Configure CPU-only PyTorch to reduce disk usage
  pyproject.toml
  uv.lock
Labels: none

Implement TinyTimeMixers Phase 4: Evaluation Infrastructure
  Summary/summary20251224.1.md
  tests/unit/test_evaluation.py
  tinytimemixers/evaluation/__init__.py
  tinytimemixers/evaluation/forecaster.py
  tinytimemixers/evaluation/metrics.py
Labels: tests

Implement TinyTimeMixers Phase 3: Training Infrastructure
  Summary/summary20251224.1.md
  pyproject.toml
  tests/unit/test_training.py
  tinytimemixers/training/__init__.py
  tinytimemixers/training/losses.py
  tinytimemixers/training/optimizer.py
  tinytimemixers/training/trainer.py
  tinytimemixers/utils/__init__.py
  tinytimemixers/utils/checkpoint.py
  uv.lock
Labels: tests

Auto-format Python code
  tinytimemixers/training/losses.py
Labels: none

Implement TinyTimeMixers Phase 5: Benchmarking Infrastructure
  Summary/summary20251224.1.md
  benchmarks/__init__.py
  benchmarks/gift_eval/__init__.py
  benchmarks/gift_eval/adapter.py
  benchmarks/gift_eval/config.py
  benchmarks/gift_eval/dataset_loader.py
  benchmarks/gift_eval/results.py
  benchmarks/gift_eval/runner.py
  benchmarks/tabpfn_comparison/__init__.py
  benchmarks/tabpfn_comparison/compare.py
  benchmarks/tabpfn_comparison/wrapper.py
  docs/benchmarking.md
  docs/design/ADR-001-implementation.md
  pyproject.toml
  scripts/benchmark_gift.py
  scripts/compare_tabpfn.py
  tests/unit/test_benchmarks.py
  uv.lock
Labels: documentation, tests

Update README with TinyTimeMixers documentation
  README.md
Labels: documentation

Update documentation with comprehensive TinyTimeMixers content
  docs/architecture.md
  docs/demos.md
  docs/design.md
  docs/examples/index.md
  docs/faq.md
  docs/flywheel.md
  docs/hiring.md
  docs/index.md
  docs/metric.md
  docs/purpose.md
  docs/research.md
  docs/roadmap.md
Labels: documentation

Auto-format Python code
  benchmarks/gift_eval/adapter.py
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "*.md"]
tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"
